@import "./variables.scss";

#restaurant-name {
  font-family: "Bebas Neue";
  font-size: 6vmin;
  letter-spacing: 0.15em;
  color: $orange-red;
}

span.mont.header {
  font-size: 7vmin;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (min-width: 500px) {
  span.mont.header {
    font-size: 35px;
  }
}

#employee-logo {
  width: 100%;
}

#live-feed-header {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
