@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$pale-purple: #e7e9ff;

body {
  margin: 0;
  box-sizing: border-box;
}

.mont {
  font-family: "Montserrat";
}

h3.mont {
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}